.selectChatUsersListItem {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row-reverse;
  column-gap: 10%;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  &:hover {
    background-color: white;
    opacity: 0.8;
  }
}
