.textArea {
  background-color: rgb(235, 232, 230);
  resize: none;
  height: 150px;
  transition: 0.3s;
  margin-bottom: 30px;
  padding-left: 15px;
  border-radius: 8px 8px 0px 0px;
  border: none;
  &:hover {
    opacity: 0.8;
  }
}
