.chatInfo {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
  border-radius: 0px 0px 16px 16px;
  color: white;
  position: relative;
  top: 0;
  .chatName {
    text-decoration: underline;
    user-select: none;
    &:hover {
      cursor: pointer;
      text-decoration: none;
      opacity: 0.8;
    }
  }
  .chatUser {
    display: flex;
    justify-content: space-between;
    width: 205px;
    align-items: center;
    padding-bottom: 20px;
    .deleteIcon {
      transition: 0.3s;
      &:hover {
        cursor: pointer;
        color: black;
      }
    }
  }
}
