.sidebar {
  width: 25%;
  border: 1px black white;
  height: 100%;
  .topSection {
    width: 100%;
    background-color: #fbab7e;
    background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
    color: white;
    padding: 15px;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      margin: 0px;
    }
    .firstColumn {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
