.sidebar {
  width: 25%;
  border: 1px black solid;
  height: 100vh;
  .topSection {
    width: 100%;
    background-color: black;
    color: white;
    padding: 15px;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      margin: 0px;
    }
    .firstColumn {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
