.loginButton {
  width: 25%;
  height: 40px;
  cursor: pointer;
  color: white;
  background-color: black;
  border-radius: 8px;
  border: none;
  transition: 0.3s;
  margin-bottom: 25px;
  &:hover {
    background-color: grey;
  }
}
